name: CI

on:
  # including merges to dev
  push:
    branches:
      - dev

  # open/update/close a PR against dev
#  pull_request:
#    branches:
#      - dev

jobs:
  build:
    # skip if it's the actions bot
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      SECRET_KEY: test
      DEBUG: True
      DB_NAME: test_db
      DB_USER: test_user
      DB_PASSWORD: test_password
      DB_HOST: localhost
      DB_PORT: 5432

      FRONTEND_URL: "http://localhost:8080"
      DOMAIN_URL: "https://example.com"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          apt update && apt install -y curl
          apt-get update && apt-get install -y gdal-bin libgdal-dev
          pip install poetry
          poetry config virtualenvs.create false
          poetry install --no-root

      - name: Run tests
        run: |
          python manage.py test
